/* Bootstrap overriders */

.carousel-inner > .carousel-item > img{ 
    height: 450px; 
    width: auto; 
    margin: auto;
}

.carousel-control-next-icon.invertColor,
.carousel-control-prev-icon.invertColor,
.carousel-indicators.invertColor {
  filter: invert(1);
}

.card-body{
    padding-bottom: 0px;
}

/* Custom CSS */
#aboutMe {
    padding-left: 30%;
    padding-right: 30%;
}
#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 500px;

}

.favicon-row {
    text-align: center;
}

#footer {
    padding: 7% 15%;
    text-align: center;
}

.card-div, .inside-section-div{
    padding:10px;
}



.centered-favicon {
    display: inline-block;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: auto;
}

.centered-text {
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}

.no-border {
    border: 1px solid #e5e5e5
}

section{
    padding: 10px;
}