#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 500px;

}

.favicon-row {
    text-align: center;
}

#footer {
    padding: 7% 15%;
    text-align: center;
}

.card-div{
    padding:10px;
}

.centered-favicon {
    display: inline-block;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: auto;
}

.centered-text {
    text-align: center;
}

.no-border {
    border: 1px solid #e5e5e5
}